<div class="container">
  <div class="error-reminder" *ngIf="error_info !== ''">
    {{error_info}}
  </div>

  <form class="register-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h2>Sign up</h2>
    <div class="line-username input-line">
      <label for="email">Email:</label>
      <input type="email" class="username-input form-control" name="email" placeholder="Email" id="email" [(ngModel)]="email" required/>
    </div>
    <div class="line-username input-line">
      <label for="email">First Name:</label>
      <input type="text" class="username-input form-control" name="firstName" placeholder="First Name" id="first-name" [(ngModel)]="firstName" required/>
    </div>
    <div class="line-username input-line">
      <label for="email">Last Name:</label>
      <input type="text" class="username-input form-control" name="lastName" placeholder="Last Name" id="last-name" [(ngModel)]="lastName" required/>
    </div>
    <div class="line-password input-line">
      <label for="password">Password:</label>
      <input type="password" class="password-input form-control" name="password" placeholder="Password" [(ngModel)]="password" required/>
    </div>
    <div class="line-password input-line">
      <label for="password">Confirm Password:</label>
      <input type="password" class="password-input form-control" name="password2" placeholder="Password" [(ngModel)]="password2" required/>
    </div>
    <div class="line-submit-button input-line ">
      <button class="btn btn-primary form-control">Sign Up</button>
    </div>

    <hr class="hr-text" data-content="Has an account?">
    <p>Already have an account? <a routerLink="/login">Sign in</a> </p>
  </form>

</div>